<% provide(:title, "Home") %>
<% provide(:name, "Home") %>

<div class="container">
  <div class="row">
    <div class="col">
        <h1 class="">Welcome to GSCC App.</h1>
        <p>Mission statement <br/>
        Parish information
        </p>
        <p>
        CWO total number <br/>
        CMO total <br/>
        CYAA <br/>
        CYON members
        </p>
    </div>
    <div class="col">
    <br/><br/><br/>
      <p>
            Statistics:<br/>
        Total number of parishioners: <br/>
        Total number of male parishioners <br/>
        Total Female <br/>
        Total communicants <br/>
        Total members of the small Christian cummunities <br/>
        Igbajo – <br/>
        Thomas – <br/>
      </p>
    </div>
  </div>
</div>
