 <div class="container">
    <div class="">
        <h1 class="">Welcome to GSCC App.</h1>
        <p class="">
            Simple project management tool.<br>
            Add projects and deadlines<br>
            Assign tasks and activites to projects and link to groups
        </p>
    </div>
    <div class="">                    
        <div class="sign-up panel">
            <h2 class="h2">Convinced and want to learn more?</h2>
            <button>Sign In</button>
            <%#= button_to 'Sign up now!', new_user_path, method: :get, class: 'btn btn-landing' %>
            
        </div> 
    </div>
</div>
