aside {
    width: 300px;
    position: fixed;
    // background-color: #3174BE;
    background-color: #be6531;
    top: 0;
    left: 0;
    height: 100vh;
    z-index:5;
    outline:none;
    overflow-x: hidden;
    
  }

  .bg-primary {
    background-color: #be6531;
  }