<% if user_signed_in? %>
<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="site-logo">
        <%= link_to 'GSCC-APP', root_path, class:'navbar-brand' %>
      </div>
      
      <div class="nav justify-content-center">
        <div class="namer"><%= (yield(:name)) %></div>
      </div>
      
      <div class="d-flex">
        <div class="menu-item me-2">
          <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Harvest Corner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News and Announcements</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Umbrella Bodies</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">CMO Desk</a></li>
              <li><a class="dropdown-item" href="#">CWO Desk</a></li>
              <li><a class="dropdown-item" href="#">CYON Desk</a></li>
              <li><a class="dropdown-item" href="#">CYAA Desk</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Social Groups</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">JDPC</a></li>
              <li><a class="dropdown-item" href="#">KSM</a></li>
              <li><a class="dropdown-item" href="#">Ladies of Charity</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Soieties</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Sacred Hearts</a></li>
              <li><a class="dropdown-item" href="#">Legion of Mary</a></li>
              <li><a class="dropdown-item" href="#">St Jude</a></li>
              <li><a class="dropdown-item" href="#">St Anthony of Padua</a></li>
              <li><a class="dropdown-item" href="#">Christian Mothers</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">SLW</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Lectors Board</a></li>
              <li><a class="dropdown-item" href="#">Church Warders</a></li>
              <li><a class="dropdown-item" href="#">Alter Boys</a></li>
              <li><a class="dropdown-item" href="#">Alter Dressers</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<% end %>