<aside class="side-bar bg-light">
    <h2>Services</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Mass Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Wedding Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Infant Baptism Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Adult Baptism Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Visitation of Elderly</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Visitation of the Sick</a>
        </li>
    </ul>
</aside>
